<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>quelle image voulez vous afficher</h1>

    <form id="imagebibi">
        <label>
            <input type="checkbox" name="imagechoix" value="image1"> image1
        </label><br>
        <label>
            <input type="checkbox" name="imagechoix" value="image2"> image2
        </label><br>
        <label>
            <input type="checkbox" name="imagechoix" value="image3"> image3
        </label><br><br>

        <button type="button" id="affiche">Afficher</button>
    </form>

    <div id="image1" class="image-container">
        <img src="../static/KennyUnhooded.jpg" alt="Image 1">
    </div>
    <div id="image2" class="image-container">
        <img src="../static/south-park-randy-marsh-a-droite-medicinal-fried-chicken-saison-14-ep-1403-diffusee-le-31-mars-2010-1997-comedie-hd9kx1.jpg" alt="Image 2">
    </div>
    <div id="image3" class="image-container">
        <img src="../static/south-park-vinyl-figurine-real-estate-cartman-7-cm.jpg" alt="Image 3">
    </div>

</body>
</html>