<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Titre de niveau 1.</h1> <br>
    <h2>Titre de niveau 2.</h2><br>
    <h3>Titre de niveau 3.</h3><br>
    <h3>Titre de niveau 3.</h3><br>
    <h2>Titre de niveau 2.</h2><br>
    <h1>Titre de niveau 1.</h1><br>
    <p>Texte en <b>gras,</b> texte en <i>italique,</i>texte<u> souligné</u></p><br>
    <p>lien vers l'<a href="../templates/actualie.html">actualité</a></p> <br>
    <p>Ecrivez-moi à  <a href="mailto:spastore2@free.fr">spastore2@free.fr</a></p> <br>
    <ol>Liste des items :
        <li>item 1</li>
        <li>item 2 :
            <ul>element 1</ul>
            <ul>element 2</ul>
        </li>
        <li>item 3</ul>
    </ol>

    <h1>exercice 2</h1>

<table>
    <tr>
        <td>tableau</td>
        <td>              </td>
        <td>          </td>
    </tr>
    <tr>
        <td></td>
        <td>à 6</td>
        <td> cases</td>
    </tr>
</table>

<div>
    <p class="liste">une liste</p>
    <ol> 
        <li>premier point
            <ul> 
                <li>rubrique 1</li>
                <li>rubrique 2</li>
            </ul>
           
        </li>

        <li>2e point</li>
        <li>3e point
            <ul>
                <li>rubrique 1</li>
                <li>rubrique 2</li>
            </ul>
        </li>
    </ol>
</div>
<div>
    <table border="1">
   
        <tr>
            <td >Ligne 1</td>
            <td  >Valeur 1</td>
            <td >Valeur 2</td>
            <td >Valeur 3</td>
        </tr>
        <tr>
            <td rowspan="4">Ligne 2</td>

        </tr>
        <tr>
            <td >Ligne 3</td>
            <td >Ligne </td>
            <td >Ligne </td>

        </tr>
        <tr>
            <td rowspan="4">Ligne 4</td>

        </tr>
    </table>
</div>

</body>
</html>