<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/page1.css">
</head>
<body>
    <h1>Titre de niveau 1.</h1> <br>
    <h2>Titre de niveau 2.</h2><br>
    <h3>Titre de niveau 3.</h3><br>
    <h3>Titre de niveau 3.</h3><br>
    <h2>Titre de niveau 2.</h2><br>
    <h1>Titre de niveau 1.</h1><br>
    <p>Texte en <b>gras,</b> texte en <i>italique,</i>texte<u> souligné</u></p><br>
    <p>lien vers l'<a href="../templates/actualie.html">actualité</a></p> <br>
    <p>Ecrivez-moi à  <a href="mailto:spastore2@free.fr">spastore2@free.fr</a></p> <br>
    <ol>Liste des items :
        <li>item 1</li>
        <li>item 2 :
            <ul>
                <li>element 1</li>
                <li>element 2</li>
            </ul>
        </li>
        <li>item 3</ul>
    </ol>

    <h1>exercice 2</h1>


<table border="1">
    <tr>
        <td>un tableau</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>à 6</td>
        <td>cases</td>
        
    </tr>
</table>

<div>
    <p class="liste">une liste</p>
    <ol> 
        <li>premier point
            <ul> 
                <li>rubrique 1</li>
                <li>rubrique 2</li>
            </ul>
           
        </li>

        <li>2e point</li>
        <li>3e point
            <ul>
                <li>rubrique 1</li>
                <li>rubrique 2</li>
            </ul>
        </li>
    </ol>
</div>
<table border="1">

    <tr>
        <td rowspan="4">Ligne 1, Cellule 4</td>
        <td >Lignes 1-3, Cellule 1</td>
        <td>Ligne 1, Cellule 2</td>
        <td>Lignes 1-3, Cellule 3</td>
        
    </tr>
    <tr>

        <td>Ligne 2, Cellule 2</td>
        <td>Ligne 2, Cellule 2</td>
        <td>Ligne 2, Cellule 2</td>
        <td>Ligne 2, Cellule 4</td>
    </tr>
    <tr>

        <td rowspan="3">Ligne 3, Cellule 2</td>

    </tr>
    <tr>
        <td c>Ligne 4, Cellule 1</td>
        <td colspan="2">Ligne 4, Cellule 3</td>
        <td colspan="2">Ligne 4, Cellule 3</td>
    </tr>
</table>

<form action="#" method="post" class="form">
    <div class="for">
        <label for="pseudo">Votre pseudo :</label>
        <input type="text" id="pseudo" name="pseudo" required><br><br>

        <label for="motdepasse">Votre mot de passe :</label>
        <input type="password" id="motdepasse" name="motdepasse" required><br><br>

        <label for="confirmpassword">Ressaisir votre mot de passe :</label>
        <input type="password" id="confirmpassword" name="confirmpassword" required>
    </div>
    <div class="os">
        <p>OS préféré :</p>

        <div class="os2">
             <input type="radio" id="windowsXP" name="os" value="Windows XP">
        <label for="windowsXP">Windows XP</label><br>
        <input type="radio" id="windowsVista" name="os" value="Windows Vista">
        <label for="windowsVista">Windows Vista</label><br>
        <input type="radio" id="macOSX" name="os" value="MacOS X">
        <label for="macOSX">MacOS X</label><br>
        <input type="radio" id="linux" name="os" value="Linux">
        <label for="linux">Linux</label><br>
        <input type="radio" id="autre" name="os" value="Autre">
        <label for="autre">Autre</label><br><br>
        </div>
       
    </div>

<div class="or">
    <p>Vous possédez :</p>
    <div class="or2">
        <input type="checkbox" id="bureau" name="device" value="Ordinateur de bureau">
        <label for="bureau">Un ordinateur de bureau</label><br>
        <input type="checkbox" id="portable" name="device" value="Portable">
        <label for="portable">Un portable</label><br>
        <input type="checkbox" id="netbook" name="device" value="Netbook">
        <label for="netbook">Un netbook</label><br>
        <input type="checkbox" id="tablette" name="device" value="Tablette">
        <label for="tablette">Une tablette (iPad)</label><br><br>
    </div>
</div>
<div class="pro">
    <label for="profession">Votre profession :</label>
    <select id="profession" name="profession">
        <option value="Chômeur">Chômeur</option>
        <option value="Étudiant">Étudiant</option>
        <option value="Fonctionnaire">Fonctionnaire</option>
        <option value="Privé">Privé</option>
        <option value="Retraité">Retraité</option>
    </select><br><br>
</div>
    
    <button type="submit">S'inscrire</button>
</form>


</body>
</html>