<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Titre de niveau 1.</h1> <br>
    <h2>Titre de niveau 2.</h2><br>
    <h3>Titre de niveau 3.</h3><br>
    <h3>Titre de niveau 3.</h3><br>
    <h2>Titre de niveau 2.</h2><br>
    <h1>Titre de niveau 1.</h1><br>
    <p>Texte en <b>gras,</b> texte en <i>italique,</i>texte<u> souligné</u></p><br>
    <p>lien vers l'<a href="../templates/actualie.html">actualité</a></p> <br>
    <p>Ecrivez-moi à  <a href="mailto:spastore2@free.fr">spastore2@free.fr</a></p> <br>
    <ul>Liste des items :
        <li>item 1</li>
        <li>item 2 :
            <ol>element 1</ol>
            <ol>element 2</ol>
        </li>
        <li>item 3</li>
    </ul>
</body>
</html>