<!DOCTYPE html>
<html>
<head>
    <script>
         
        let chambreSelectionnee = null; 

        // couleur chambre
        function coleurChambre(id) {
            reinitialiserChambres();
            const chambre = document.getElementById(id);
            chambre.setAttribute("fill", "red");

            // stocker id de la chambre 
            chambreSelectionnee = id;
        }

        //  réinitialiser toutes les chambres 
        function reinitialiserChambres() {
            const chambres = document.querySelectorAll("circle[fill='red'], circle[fill='gray']");
            chambres.forEach((chambre) => chambre.setAttribute("fill", "gray"));
        }

       
        function lancer() {
    // verifie si une chambre a été selec
    if (!chambreSelectionnee) {
        alert("Vous n'avez sélectionné aucune chambre !");
        return;
    }

    //   chiffre aléatoire entre 1 et 6
    const chiffreAleatoire = Math.floor(Math.random() * 6) + 1;

    //   la chambre sélectionnée == générée
    const message = chambreSelectionnee == chiffreAleatoire
        ? `Le chiffre aléatoire est : ${chiffreAleatoire}. Vous avez perdu !`
        : `Le chiffre aléatoire est : ${chiffreAleatoire}. Vous avez gagné !`;

    //   message avec la chambre sélectionnée et le résultat
    alert(`Chambre sélectionnée : ${chambreSelectionnee}\n${message}`);

    // renisialisé les chambres  après chaque tour
    reinitialiserChambres();

    // renisialisé la sélection de chambre
    chambreSelectionnee = null;
}

        //  afficher le numéro de la chambre sélectionnée
        function afficherNumeroChambre(id) {
            alert("Vous avez cliqué sur la chambre numéro " + id);
        }
    </script>
</head>
<body>
    <h1>Roulette Russe</h1>

    <svg width="200" height="200" style="background-color:antiquewhite">
        <circle cx="100" cy="100" r="95" stroke="black" stroke-width="3" fill="none" />
        <circle cx="100" cy="40" r="25" stroke="black" stroke-width="3" fill="gray" 
                id="1" onclick="coleurChambre(this.id)" />
        <circle cx="150" cy="70" r="25" stroke="black" stroke-width="3" fill="gray" 
                id="2" onclick="coleurChambre(this.id)" />
        <circle cx="50" cy="70" r="25" stroke="black" stroke-width="3" fill="gray" 
                id="3" onclick="coleurChambre(this.id)" />
        <circle cx="50" cy="130" r="25" stroke="black" stroke-width="3" fill="gray" 
                id="4" onclick="coleurChambre(this.id)" />
        <circle cx="150" cy="130" r="25" stroke="black" stroke-width="3" fill="gray" 
                id="5" onclick="coleurChambre(this.id)" />
        <circle cx="100" cy="160" r="25" stroke="black" stroke-width="3" fill="gray" 
                id="6" onclick="coleurChambre(this.id)" />
        <circle cx="100" cy="100" r="10" stroke="black" stroke-width="3" fill="black" />
    </svg>

    <button onclick="lancer()">Jouer</button>
</body>
</html>
